<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>

  <form *ngIf="form" class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row mb-3">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" id="nome" required>
          <mat-error *ngIf="f.nome.errors?.required">
            É obrigatório o preenchimento do nome.
          </mat-error>
          <mat-error *ngIf="f.nome.errors?.minlength">
            Nome deve conter no mínimo 5 caracteres.
          </mat-error>
          <mat-error *ngIf="f.nome.errors?.nomeInvalido">
            É obrigatório o preenchimento utilizando somente letras.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input type="date" matInput formControlName="dataNascimento" max="9999-12-31" required>
          <mat-error *ngIf="f.dataNascimento.errors?.required">
            É obrigatório o preenchimento da data de nascimento.
          </mat-error>
          <mat-error *ngIf="f.dataNascimento.errors?.menorDeIdade && !f.dataNascimento.errors?.required">
            É obrigatório que a pessoa tenha idade superior ou igual a 18 anos.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Estado civil</mat-label>
          <select matNativeControl formControlName="estadoCivil" (change)="verificaEstadoCivil()" required>
            <option value="1">Casado(a)</option>
            <option value="2">Solteiro(a)</option>
            <option value="3">Viúvo(a)</option>
            <option value="4">Separado(a) judicialmente</option>
            <option value="5">Divorciado(a)</option>
          </select>
          <mat-error *ngIf="f.estadoCivil.errors?.required">
            É obrigatório selecionar o estado civil.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="habilitaParceiro" class="form-group row mb-3">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nome do(a) parceiro(a)</mat-label>
          <input matInput formControlName="nomeParceiro" id="nomeParceiro" required>
          <mat-error *ngIf="f.nomeParceiro.errors?.required">
            É obrigatório o preenchimento do nome do parceiro(a).
          </mat-error>
          <mat-error *ngIf="f.nomeParceiro.errors?.minlength">
            Nome do(a) parceiro(a) deve conter no mínimo 5 caracteres.
          </mat-error>
          <mat-error *ngIf="f.nomeParceiro.errors?.nomeInvalido">
            É obrigatório o preenchimento utilizando somente letras.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Data de nascimento do(a) parceiro(a)</mat-label>
          <input type="date" matInput formControlName="dataNascimentoParceiro" max="9999-12-31" required>
          <mat-error *ngIf="f.dataNascimentoParceiro.errors?.required">
            É obrigatório o preenchimento da data de nascimento do parceiro(a).
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
      <button mat-raised-button (click)="voltar()" class="mr-1">Voltar</button>
      <button type="submit" mat-raised-button color="primary">Salvar</button>
    </div>
  </form>
</mat-card>
