<header class="container-fluid">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Atech</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</header>
<mat-drawer-container>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a mat-list-item href="/pessoas">
        <mat-icon>list</mat-icon> Lista de Registros
      </a>
      <a mat-list-item href="/pessoas/novo">
        <mat-icon>add_circle_outline</mat-icon> Criar novo registro
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
