<div class="app-container d-flex">
  <aside class="d-flex flex-column" [class.collapsed]="collapsed">
    <header class="d-flex align-items-center justify-content-center">
      <a routerLink="/">
        <span>Atech</span>
      </a>
    </header>

    <nav class="list-group">
        <a routerLink="/almoxarifado/lancamentos" placement="right" routerLinkActive="active" class="list-group-item list-group-item-action d-flex align-items-center">
          <mat-icon>list</mat-icon>
          <span *ngIf="showLabel" class="ml-2">Listagem</span>
        </a>
        <a routerLink="/requisicoes" placement="right" routerLinkActive="active" class="list-group-item list-group-item-action d-flex align-items-center">
          <mat-icon>create</mat-icon>
          <span *ngIf="showLabel" class="ml-2">Cadastro</span>
        </a>
    </nav>

    <footer class="d-none d-xl-block align-items-center justify-content-center">
      <button (click)="toggleCollapse()" class="btn btn-block btn-light btn-icon pr-4 justify-content-end">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </footer>
  </aside>


  <div class="main-container">
    <header class="navbar navbar-light">

   </header>

    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- <app-modal-confirm></app-modal-confirm>
<app-modal-prompt></app-modal-prompt>
<app-modal-select></app-modal-select>
<app-modal-alert></app-modal-alert> -->
