<h1>{{ title }}</h1>
<p>Seja bem-vindo! </p>
<p>Abaixo serão listados os registros encontrados:</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data de nascimento</th>
      <th scope="col">Estado civil</th>
      <th scope="col">Nome do parceiro</th>
      <th scope="col">Data nasc. do parceiro</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!dataSource">
      <td class="text-muted" colspan="100%">Nenhuma pessoa cadastrada.</td>
    </tr>
    <tr *ngFor="let item of dataSource">
      <td>{{ item.nome }}</td>
      <td>{{ item.dataNascimento }}</td>
      <td>{{ item.estadoCivil }}</td>
      <td>{{ item.nomeParceiro }}</td>
      <td>{{ item.dataNascimentoParceiro }}</td>
      <td class="p-0">
        <button mat-icon-button color="primary" (click)="alterarPessoa(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletarPessoa(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <button mat-raised-button color="primary">Novo!!</button>
</div>
